<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiv6a48C4B09cdWzHQZipTZ2c-jEsc0cg</string>
	<key>GCM_SENDER_ID</key>
	<string>720178613738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adilcan.petify</string>
	<key>PROJECT_ID</key>
	<string>petify-adilcan</string>
	<key>STORAGE_BUCKET</key>
	<string>petify-adilcan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720178613738:ios:fe339b8ce60071e58cf693</string>
</dict>
</plist>